* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.logo {
  margin-top: 32px;
  margin-bottom: 32px;
}

.hero {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.logo-for-desktop {
  display: none;
}

.main {
  margin-top: 64px;
  margin-bottom: 64px;
}

h1 {
  color: #423a3a;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: 10.8px;
  text-align: center;
}

.we {
  color: #ce9898;
  font-weight: 300;
}

.shoppers {
  color: #ce9898;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  margin-top: 16px;
  margin-bottom: 32px;
}

form {
  position: relative;
  width: 310px;
}

#email {
  border: 1px solid #ce9898;
  border-radius: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
}

#email::placeholder {
  color: #ce9898;
  opacity: 0.5;
}

.submit-btn {
  background: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
  box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.25);
  border-radius: 28px;
  border: none;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 28px;
  padding-right: 28px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

a {
  text-decoration: none;
  color: tomato;
}

.paminos {
  color: tomato;
  font-weight: 600;
}

footer {
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  color: darkgrey;
  margin-bottom: 20px;
}
